.project-list {
  @media screen and (min-width: 768px) {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
}

.project-item {
  outline: 1px solid #eeeeee;
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 30px;
    
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 3 * 30px) / 3);
  }
}
.project-content {
  padding: 20px 24px;
  text-align: left;
}
.project-name {
  margin-bottom: 4;
  @include font($fs: 18px, $lh: 2);
  letter-spacing: 0.06em;
  color: $black-color;
}

.text {
  @include font($fs: 16px, $fw: 400, $lh: 1.87);

  color: $text-color;
}

.project-item-link {
  display: inline-block;

  height: 100%;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-photo-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: $primary-white-color;
  text-align: left;
  @include font($fs: 18px, $fw: 400, $lh: 1.55);

  padding: 77px 24px;
  overflow: hidden;
  transform: translateY(100%);
  transition: transform $time-hover $timing-function;

  .project-item-link:hover &,
  .project-item-link:focus & {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transform: translateY(0);
  }
  @media screen and (min-width: 768px) {
    padding: 49px 24px;
  }

  @media screen and (min-width: 1200px) {
    padding: 63px 24px;
  }
}
