.button {
  @include font($fs: 16px, $lh: 1.87);

  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  border-radius: 4px;
}

.banner-button {
  color: $primary-white-color;
  display: block;
  padding: 10px 32px;
  min-width: 200px;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color $time-hover $timing-function;
  &:hover,
  &:focus {
    cursor: pointer;
  }
}
