.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill $time-hover $timing-function;

  .social-link:hover &,
  .social-link:focus & {
    fill: $primary-white-color;
  }
}
