$accent-color: #2196f3;
$black-color: #212121;
$text-color: #757575;
$primary-white-color: #ffffff;
$footer-link-color: rgba(255, 255, 255, 0.6);
$team-background-color: #f5f4fa;
$banner-background-color: #2f303a;
$time-hover: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$main-font: "Roboto", sans-serif;
$second-font: "Raleway", sans-serif;
